.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-repeat: no-repeat;
  background-size: cover;

}

.landingPage_image{
  display: flex;
  justify-content: center;
  align-items: left;
  height: 600px;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

.comment p{
  color: white;
  font-weight: bold;
}

.comment{
  background-color: black;
  opacity: 0.5;
  padding: 20px 10px;
  border-radius: 25px;
  width: max-content;
  height: max-content;
  margin-bottom: 50px;
}

.hero_buttons{
  display: flex;
  gap: 30px;
}

.hero_button{
  text-decoration: none;
}

.register{
  background-color: #1C9EB2;
  height: 50px;
  width: 150px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.login{
  border: 1px solid #28E2FF;
  height: 50px;
  width: 150px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}