.register_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    align-items: center;
}

.group{
    display: flex;
    flex-direction: column;
}

.register_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 30px;
    border-radius: 25px;
    position: relative;
    z-index: 20;
}

.welcome{
    text-align: center;
}

input, select{
    height: 35px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: 1px solid white;
    transition: all ease-in 0.3s;
    padding-left: 10px;
}

input:focus, select:focus{
    border: 1.5px solid white;
    outline: 0;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.sign_up{
    background-color: #1C9EB2;
    height: 50px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    padding: 0 30px;
}

.group label{
    text-align: center;
}

.side_view{
    display: flex;
    justify-content: center;
    align-items: center;
}