.mission{
    text-align: center;
    margin-left: 750px;
}

.statement{
    width: 400px;
    padding: 20px;
    background-color: rgba(0,0,0, 0.3);
    font-size: 18px;
    line-height: 150%;
    margin-left: 750px;
}

.about_page{
    display: flex;
    justify-content: left !important;
    color: white;
}