.mission{
    text-align: center;
    position: relative;
    z-index: 20;
}

.statement{
    width: 400px;
    padding: 20px;
    font-size: 18px;
    line-height: 150%;
    position: relative;
    z-index: 20;
    text-align: center;
}

.about_page{
    display: flex;
    justify-content: center !important;
    color: white;
    align-items: center;
}